@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="animated-background"></div> <!-- Iridescent background effect -->

    <div class="home-page-bg text-white">
        <div class="text-center">
            <h1 class="display-4">Welcome to SoldierFit</h1>
            <p class="lead">Where strength meets endurance!</p>
            <a href="/About" class="btn btn-primary btn-lg mt-4">Learn More</a>
        </div>
    </div>
</div>
