@using SoldierTrack.Web.Models.Membership

@model CreateMembershipViewModel

@{
    this.ViewData["Title"] = "Request Membership";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-8">
            <!-- Set a maximum width for the content -->
            <h2 class="text-center">Request Membership</h2>
            <div class="mb-4">
                <!-- Add margin at the bottom -->
                <form asp-area="" asp-controller="Membership" asp-action="RequestMembership" method="post" class="form-horizontal">
                    <div class="text text-danger" asp-validation-summary="All"></div>
                    <partial name="_FormPartial" model="Model" />
                    <div class="form-group" style="margin-top: 1em">
                        <button type="submit" class="btn btn-primary">Request</button>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header" style="background-color: #edd7d5;">
                    <h4 class="text-center">Membership Terms</h4> <!-- Centered header -->
                    <h6 class="text-center">Please read them before making a request</h6> <!-- Centered sub-header -->
                </div>
                <div class="card-body" style="background-color: #dbcdcc;">
                    <p>
                        When you request a membership, our admin team will review and approve your request within the current working day.
                        If the request is made outside of working hours, it will be processed on the next business day.
                    </p>
                    <p>
                        If you require immediate assistance, feel free to call us at <strong>0123456789</strong>.
                    </p>
                    <hr>
                    <h5>Membership Options</h5>
                    <ul>
                        <li>
                            <strong>Monthly Membership:</strong>
                            This membership automatically expires after one month from the date of approval. The membership starts on the day it is approved.
                            If approved the next day, the start date will be updated accordingly. To request it, click on the 'I Want Monthly Membership' button,
                            and all necessary data will be filled automatically. You <strong>should not</strong> modify anything else.
                            <p>
                                <strong>Important:</strong> The start date must always be today's date and cannot be modified!
                            </p>
                        </li>
                        <li>
                            <strong>Fixed Count Membership:</strong>
                            This membership is indefinite and expires only when all workout participations have been used.
                            Users can choose a participation count ranging from <strong>1 to 30</strong>.
                            To request it, do <strong>not</strong> click the 'I Want Monthly Membership' button; instead, select the workout count you desire.
                            Necessary data will be filled automatically, and you <strong>should not</strong> modify anything else.
                        </li>
                        <li>
                            The price will also be auto-calculated.
                        </li>
                    </ul>
                    <h5>Pricing</h5>
                    <ul>
                        <li>
                            <strong>Fixed Count Membership:</strong> <strong>8 leva</strong> per workout.
                        </li>
                        <li>
                            <strong>Monthly Membership:</strong> A total of <strong>200 leva</strong>.
                        </li>
                        <li>
                            <strong>Payment Instructions:</strong> Each athlete should pay for their membership on the first workout after the request.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
