@using SoldierTrack.Web.Models.Food

@model FoodFormModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageUrl" class="control-label"></label>
    <input asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TotalCalories" class="control-label"></label>
    <input asp-for="TotalCalories" class="form-control" type="number" />
    <span asp-validation-for="TotalCalories" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Proteins" class="control-label"></label>
    <input asp-for="Proteins" class="form-control" type="number" />
    <span asp-validation-for="Proteins" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Carbohydrates" class="control-label"></label>
    <input asp-for="Carbohydrates" class="form-control" type="number" />
    <span asp-validation-for="Carbohydrates" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Fats" class="control-label"></label>
    <input asp-for="Fats" class="form-control" type="number" />
    <span asp-validation-for="Fats" class="text-danger"></span>
</div>
<input asp-for="AthleteId" type="hidden" />
