@using SoldierTrack.Services.Athlete
@using SoldierTrack.Web.Common.Extensions

@using static SoldierTrack.Web.Common.Constants.WebConstants

@inject IAthleteService athleteService

@{
    var userId = this.User.GetId();
    var userIsAdmin = this.User.IsInRole(AdminRoleName);
    var userIsLogged = this.User?.Identity?.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoldierTrack</title>
    <link rel="icon" href="~/images/sf-ic.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SoldierTrack</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            @if (userIsAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Workout" asp-action="GetAll">All Workouts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Administrator" asp-controller="Workout" asp-action="Create">Create Workout</a>
                                </li>
                            }

                            @if (userIsLogged.GetValueOrDefault() && !userIsAdmin)
                            {
                                var userIsAthlete = await this.athleteService.UserIsAthlete(userId!);

                                if (!userIsAthlete)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Athlete" asp-action="Create">Become Athlete</a>
                                    </li>
                                }
                            }
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer text-center">
            <div class="container">
                &copy; @DateTime.Now.Year - SoldierTrack - <a target="_blank" href="https://github.com/aleksandarMilev/SoldierTrack">Open source project</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
