@using SoldierTrack.Web.Models.Exercise

@model ExerciseFormModel

@{
    this.ViewData["Title"] = "Create Exercise";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <h2>Create Exercise</h2>
            <form asp-action="Create" method="post">
                <partial name="_ExercisePartial" model="@this.Model" />
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-area="" asp-controller="Exercise" asp-action="GetAll" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await this.Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
