html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f8f9fa;
}

main {
    flex: 1;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.home-page-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    animation: animateImage 30s infinite alternate;
}

.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}


@keyframes animateImage {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.05) rotate(2deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    animation: iridescent 10s infinite alternate;
}

@keyframes iridescent {
    0% {
        background: rgba(0, 0, 0, 0.3);
    }

    50% {
        background: rgba(0, 0, 0, 0.6);
    }

    100% {
        background: rgba(0, 0, 0, 0.3);
    }
}

.home-page-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #fff;
    text-align: center;
}

/*#full-info {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: opacity 10s ease, max-height 10s ease, padding 10s ease;
    will-change: opacity, max-height, padding;
}

    #full-info.visible {
        opacity: 1;
        max-height: 500px;*/ /* Adjust as needed */
        /*padding: 1rem;*/ /* Adjust as needed */
    /*}*/

.navbar {
    background-color: #002F6C;
    padding: 1.25em;
    z-index: 10;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #dcdcdc !important;
}

.footer {
    background-color: #1F1F1F;
    color: #ffffff;
    padding: 0.8em 0;
    z-index: 5;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.carousel-control-prev, .carousel-control-next {
    padding: 1.5rem;
}
