@using SoldierTrack.Services.Achievement.Models

@model AchievementServiceModel

@{
    this.ViewData["Title"] = "Achievement Card";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="max-width: 300px; margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Achievement Details</h5>
                <h6 class="card-subtitle mb-2 text-muted">Exercise: @this.Model.ExerciseName</h6>
                <p class="card-text">
                    <strong>Weight Lifted:</strong> @this.Model.WeightLifted kg<br>
                    <strong>Date Achieved:</strong>  <span class="utc-date" data-utc="@this.Model.DateAchieved.ToString("o")"></span><br>
                </p>
            </div>
        </div>
    </div>
</div>

<script src="~/js/convertUtcToLocaleDate.js"></script>
