@using SoldierTrack.Web.Models.Achievement

@model EditAchievementViewModel

@{
    this.ViewData["Title"] = "Edit PR";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="text-center mb-5 p-4 bg-light text-dark rounded">
                <h1 class="display-5">Edit PR</h1>
                <p class="lead">Log your new personal records and track your progress.</p>
            </div>

            <div class="card border-0 shadow-sm">
                <div class="card-body p-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="All" class="text text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ExerciseName" class="control-label"></label>
                            <input asp-for="ExerciseName" class="form-control" readonly />
                        </div>

                        <div class="form-group">
                            <label asp-for="WeightLifted" class="control-label">Weight Lifted (in kilos)</label>
                            <input asp-for="WeightLifted" class="form-control" type="number" step="any" />
                        </div>

                        <div class="form-group">
                            <label asp-for="DateAchieved" class="control-label">Date Achieved</label>
                            <input asp-for="DateAchieved" class="form-control" type="date" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Achievement</button>
                            <a asp-action="GetAll" class="btn btn-secondary">Back to List</a>
                        </div>
                        <input asp-for="ExerciseId" type="hidden" />
                        <input asp-for="AthleteId" type="hidden" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}